<html>
<head>
<title>QR - Code generator @Ala Obeidat</title>


</head>
<body>
<div style="padding:20px">
<textarea style="padding: 10px;" id='code-generate' placeholder="Please insert Code" cols="55" rows="14" ></textarea>
<br />
<br />
width : 
<input id='code-width' value="200" placeholder="width" />
<button id="generateBtn">Generate</button>

<div >
    <img id="resutl" src="#" alt="QR Code" width="200" />
</div>

</div>
<div style="position: fixed;bottom: 5px;background-color:black;color:white;clear:both;text-align:center;padding:5px;right: 0;">
Copy right :  Ala Obeidat @ 2022
</div>
</body>
<script src="jquery-2.1.4.min.js"> </script>
<script src="script.js"> </script>
</html>